<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-autowire="byName">
	
	<bean name="keywordsDao" class="pub.willow.a.taskservice.dao.impl.KeywordsDaoImpl"></bean>
	
	<bean name="listpageDao" class="pub.willow.a.taskservice.dao.impl.ListpageDaoImpl"></bean>
	
	<bean name="taskDao" class="pub.willow.a.taskservice.dao.impl.TaskDaoImpl"></bean>
	
	<bean name="dataDao" class="pub.willow.a.taskservice.dao.impl.DataDaoImpl"></bean>
	
</beans>